<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Restaurant Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">RestaurantFix</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a th:href="@{/restaurant}">Restaurants</a></li>
                    <li><a th:href="@{/franchise}">Franchise</a></li>
                    <li><a th:href="@{/reservation}">Reservations</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('isAuthenticated()')}" >
                    <li>Welcome, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></li>
                    <li>&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="jumbotron col-sm-8">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3 th:text="'Welcome to our app!'"></h3>
        <p th:text="'Would you like to make a reservation today? '"></p>
        <li><a th:href="@{/register}">Register now!</a></li>
        <li><a th:href="@{/login}">Login now!</a></li>
        <p> Pick a restaurant and add a reservation. </p>

    </div>
        <div class="col-sm-4">
            <img src="https://www.hotelierindia.com/public/styles/full_img/public/images/2019/08/16/shutterstock_1278665539_3.jpg?itok=ryHC3Aao" width="99%">
        </div>
    </div>
    
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>